html, body {
    height: 100%;
    margin: 0;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 3fr 1fr;
}
.y1-1 {
    background-color: yellow;
    margin-bottom: 10px;
}
.y1-5 {
    background-color: yellow;
    margin-top: 10px;
}
.grid2 {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 10px;
}

.y1-2 {
    background-color: yellow;
}

.y1-3 {
    background-color: yellow;
}

.y1-4 {
    background-color: yellow;
}