html, body {
    height: 100%;
    margin: 0;
}

.flexyellow1, .flexyellow3 {
    background-color: yellow;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    height: 20%;
}

.flexyellow2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 60%;
}

.yellow1-2 {
    margin: 0px 10px 10px 0px;
    background-color: yellow;
    width: 60%;
}

.yellow1-3 {
    margin: 0px 10px 10px 0px;
    background-color: yellow;
    width: 20%;
}

.yellow1-4 {
    margin-bottom: 10px;
    background-color: yellow;
    width: 20%;
}
